<div class="section-content">
  <h2 i18n="know-title" class="title-page">{{getText('PROJECT')}}</h2>
  <audio [volume]="0.3" #audioOption>
    <source src="../../../assets/sounds/orc_peon.mp3" type="audio/mp3">
  </audio>
  <div class="quote"><p> <a (click)="playAudio()"><i>Work! Work!</i></a><br>- Peon (Warcraft III)</p></div>

  <mat-grid-list cols="3" rowHeight="400px">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
      <mat-card class="project-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img class="app-logo" src="{{tile.app}}" alt="tool-app">
          </div>
          <mat-card-title>{{tile.title}}</mat-card-title>
          <mat-card-subtitle>{{tile.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <div>
          <img class="logo-card" src="{{tile.logo}}" [height]="88" width="150px" alt="Card logo">
        </div>
        <mat-card-content>
          <p class="text-card">
            {{tile.text}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>{{getText('SEE_MORE')}}</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

