<div class="layout-home" fxLayout="row" fxLayoutAlign="space-between center" >
  <div    fxLayout="row" fxFlex="100" fxLayoutAlign="space-around center"
          [ngStyle.xs]="{'font-size.px': 12}"
          [ngStyle.sm]="{'font-size.px': 16}"
          [ngStyle.md]="{'font-size.px': 20}">
  <p class="resume">
        &nbsp;&nbsp;{{getText('MY_RESUME')}}
        <br>
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;{{getText('WELCOME')}} <a href="mailto:ybrandao.d@gmail.com">e-mail</a>.
      </p>
    <div >
      <img [ngStyle.xs]="{ 'width': '160px'}"
           [ngStyle.sm]="{ 'width': '240px'}"
           [ngStyle.md]="{'width': '460px'}"
           src="../../../assets/img/yan-picture.PNG" alt="yan-picture">
    </div>

  </div>
</div>
