.quote{
  text-align: right;
}
mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

a {
  text-decoration: none;
  color: white;
}

.img-section{
  height: 200px;
  background-image: url('../../../assets/img/knowledge-pattern.jpg');
  background-repeat: repeat-x;
}
.disable{
  color: gray;
}

section{
  height: 420px;
  background-image: linear-gradient(to top left, rgba(177, 223, 255, 1), white);
}



.enabled{
  color: black;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes blinkIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes blinkIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
}
@-o-keyframes blinkIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes blinkIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fadeItem {
  -webkit-animation: fadeIn 0.5s ease-in-out;
  -moz-animation: fadeIn 0.5s ease-in-out;
  -o-animation: fadeIn 0.5s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;
}

.blinkItem {
  -webkit-animation: blinkIn 0.5s ease-in-out;
  -moz-animation: blinkIn 0.5s ease-in-out;
  -o-animation: blinkIn 0.5s ease-in-out;
  animation: blinkIn 0.5s ease-in-out;
}

.icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  padding-right: 30px;
  text-align: center;
  vertical-align: middle;
  width: 15%;
}

.label {
  display: inline-block;
  line-height: 30px;
  margin: 0;
  width: 85%;
}

mat-grid-tile {
  height: 30px;
}

a {
  color: #0060B6;
  text-decoration: none;
}

a:hover
{
  color:#00A0C6;
  text-decoration:none;
  cursor:pointer;
}

.mat-drawer-container{
  background-color: #fff;
}

.title-page{
  font-size:3rem;
  margin-bottom:1rem!important;
  margin-top:0!important;
}
.w-50{
  width: 50%;
  margin: 0 auto;
}

.mdi-96px{
  font-size: 96px;
}

.example-card {
  width: 230px;
  max-width: 350px;
  background: #f7f7f7;
  height: 260px;
  text-align: center;
}


.text-title{
  padding-bottom: 20px;
}

.button {
  background-color: darkslateblue;
  border-radius: 5px;
  color: white;
  padding: 5px;
  width: 10%;
  margin: 5px;
  text-decoration: none;
  cursor: pointer;
}

.mdi.mdi-arrow-right.mdi-68px.card-carousel-right{
  float: right;
  margin-top: 16%;
}

.mdi.mdi-arrow-left.mdi-68px.card-carousel-left{
  float: left;
  margin-top: 16%;
}
