<div class="section-content">
  <h2 i18n="know-title" class="title-page">{{getText('KNOWLEDGE')}}</h2>
  <audio [volume]="0.3" #audioOption>
    <source src="../../../assets/sounds/invoker_quote.mp3" type="audio/mp3">
  </audio>
  <div class="quote"><p> <a (click)="playAudio()"><i>Knowledge is power!</i></a><br>- Invoker (DOTA 2)</p></div>
  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile>
      <mat-card class="example-card">
        <div class="text-center"><span id="code-icon" class="mdi mdi-code-tags mdi-96px"></span></div>
        <div>
          <a><i class="mdi mdi-arrow-left mdi-68px card-carousel-left" [ngClass]="'disable'" *ngIf="currentCard == 0"
            (click)="changeLeft()"></i>
            <i class="mdi mdi-arrow-left mdi-68px card-carousel-left" [ngClass]="'enabled'" *ngIf="currentCard > 0"
               (click)="changeLeft()"></i></a>
          <a><i class="mdi mdi-arrow-right mdi-68px card-carousel-right" [ngClass]="'disable'"
                *ngIf="currentCard + 3 >= card.length" (click)="changeRight()"></i>
            <i class="mdi mdi-arrow-right mdi-68px card-carousel-right" [ngClass]="'enabled'"
               *ngIf="currentCard + 3 < card.length" (click)="changeRight()"></i></a>
          <div>
            <p [ngClass]=" isClicked ? 'fadeItem' : 'blinkItem'"> {{card[currentCard]}}</p>
            <p [ngClass]=" isClicked ? 'fadeItem' : 'blinkItem'"> {{card[currentCard + 1]}} </p>
            <p [ngClass]=" isClicked ? 'fadeItem' : 'blinkItem'"> {{card[currentCard + 2]}}</p>
          </div>

        </div>

      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <span id="database-icon" class="mdi mdi-database mdi-96px"></span>
        <div>
          <p> SQL Server</p>
          <p> Orable</p>
          <p> MySQL</p>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <span id="awards-icon" class="mdi mdi-podium mdi-96px"></span>
        <div>
          <p> <a href="https://dblp.org/rec/conf/nesy/MotaD16" >{{getText('ARTICLE_PHRASE')}}</a></p>
          <p> {{getText('HACKTHON')}}</p>
          <p> {{getText('HONOR_MENTION')}}</p>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
