<div class="section-content">
  <h2 i18n="games" class="title-page">{{getText('GAMES')}}</h2>
  <audio [volume]="0.3" #audioOption>
    <source src="../../../assets/sounds/parzival_playing.mp3" type="audio/mp3">
  </audio>
  <div>
    <div class="quote">
      <p>
        <a (click)="playAudio()"><i>It's not about winning, it's about playing.</i></a>
        <br>
        - Parzival (Ready Player One)
      </p>
    </div>
  </div>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Steam">
      <div class="text-center"><span id="footer-icon" class="mdi mdi-steam-box mdi-96px"></span></div>
      <div>
        <p> <a href="https://steamcommunity.com/id/ybrandao/badges/1" >7 {{getText('YEARS_SERVICES')}}</a> </p>
        <p> 4,337 {{getText('HOURS_PLAYED_DOTA')}}</p>
        <p> 112 {{getText('HOURS_PLAYED_UNDERLORDS')}}</p>
      </div>
    </mat-tab>
    <mat-tab label="Battle.net">
      <div class="text-center"><span id="footer-icon" class="mdi mdi-battlenet mdi-96px"></span></div>
      <div>
        <p> 135 {{getText('WINS_HEARTHSTONE')}}</p>
        <p> 73 {{getText('WINS_HOTS')}}</p>
        <p> 363 {{getText('HOURS_PLAYED_DIABLO')}} <a href="https://us.diablo3.com/pt/profile/yBrandaoD-1901/hero/3272765">{{getText('CLASS_DIABLO')}}</a> {{getText('DIABLO_MSG')}} </p>
      </div>
    </mat-tab>
    <mat-tab label="PSN">
      <div class="text-center"><span id="footer-icon" class="mdi mdi-playstation mdi-96px"></span></div>
      <div>
        <p> 1228 {{getText('TROPHY')}} </p>
        <p> 8 {{getText('PLATINUM_TROPHY')}}</p>
        <p> {{getText('FAVORITE_PLATINUM')}}: Castlevania - Lords of Shadow™</p>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
