<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
        <a mat-list-item [routerLink]="['/projects']">{{getText('PROJECT')}}</a>
        <a mat-list-item [routerLink]="['/knowledge']">{{getText('KNOWLEDGE')}}</a>
        <a mat-list-item [routerLink]="['/game']">{{getText('GAMES')}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <span id="footer-icon-linked" class="mdi mdi-yin-yang mdi-24px"></span>
      </button>
      <a
      class="name"
      [routerLink]="['/']">Yan Tapajós</a>
      <span class="spacer"></span>
      <a *ngIf="!(isHandset$ | async)" [routerLink]="['/projects']">{{getText('PROJECT')}}</a>
      <a *ngIf="!(isHandset$ | async)" [routerLink]="['/knowledge']">{{getText('KNOWLEDGE')}}</a>
      <a *ngIf="!(isHandset$ | async)" [routerLink]="['/game']">{{getText('GAMES')}}</a>
    </mat-toolbar>
    <ng-content class="nav-content"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
