.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.nav-content{
  overflow: scroll;
}

mat-toolbar a{
  display: inline-block;
  margin: 0 10px;
  color: black;
  text-decoration: none;
}

.spacer {
flex: 1 1 auto;
}

@media(min-width: 601px){
  .sidenav {
    display: none;
  }
}

@media(min-width: 947px) and (max-width: 960px)
{
  .sidenav {
    display: inline-block;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

@font-face {
  font-family: poiret;
  src: url('../../../assets/font/PoiretOne-Regular.ttf') format("opentype");
}

.name{
  margin-left: 10px;
  font-family: poiret,serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: bolder;
}
