  <app-navbar>
    <a [routerLink]="['/']"></a>
    <div [@routeAnimation]="getAnimationData(routerOutlet)">
      <router-outlet #routerOutlet="outlet"></router-outlet>
    </div>
    <footer class="footer bg-dark fixed-bottom">
      <mat-grid-list [cols]="breakpoint" rowHeight="2:0.5"  (window:resize)="onResize($event)">
        <mat-grid-tile>
          <div class="mat-action-row">
            <a class="flag-a" (click)="setLanguage('en')"><img alt="br" class="flag-icon" src="https://lipis.github.io/flag-icon-css/flags/4x3/us.svg"></a>
            <a class="flag-a" (click)="setLanguage('pt')"><img alt="en-us" class="flag-icon" src="https://lipis.github.io/flag-icon-css/flags/4x3/br.svg"></a>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
        </mat-grid-tile>
        <mat-grid-tile>
          <a href="https://www.linkedin.com/in/yanbrandao/"><span id="footer-icon-linked" class="mdi mdi-linkedin-box mdi-24px"></span></a>
          <a href="https://www.facebook.com/Yan.Brandao?ref=bookmarks"><span id="footer-icon-facebook" class="mdi mdi-facebook-box mdi-24px"></span></a>
          <a href="https://steamcommunity.com/id/ybrandao"><span id="footer-icon-steam" class="mdi mdi-steam-box mdi-24px"></span></a>
          <a href="https://github.com/yanBrandao"><span id="footer-icon-github" class="mdi mdi-github-box mdi-24px"></span></a>
          <a href="https://www.instagram.com/yan.brandao/?hl=pt-br"><span id="footer-icon-instagram" class="mdi mdi-instagram mdi-24px"></span></a>
        </mat-grid-tile>
        <mat-grid-tile>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="mat-action-row">
            <p>Yan Tapajós@2019</p>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </footer>
  </app-navbar>
