.name-title{
  margin-left: 5%;
}
.name{
  font-family: poiret,serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: bolder;
}

.routerScroll{
  overflow: scroll;
}

.mat-drawer-content{
  overflow: scroll !important;
 }

.sidenav-container{
  overflow: scroll !important;
}

.name-route{
  text-decoration: none;

}

.fixed-section-size{
  height: 430px;
  overflow: paged-y;
}

.navbar{
  justify-content: space-between;
  height: 85px;
  padding: 0px 0px;
}

.flag-icon{
  width: 25px;
  margin: 0 5px;
}

.flag-a{
  padding: 0;
}

a {
  padding-right: 1rem;
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: gray;
}

.icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  padding-right: 30px;
  text-align: center;
  vertical-align: middle;
  width: 15%;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover
{
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

@font-face {
  font-family: poiret;
  src: url('../assets/font/PoiretOne-Regular.ttf') format("opentype");
}

.content {
  height: 100%;
}
