/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import '~@mdi/font/css/materialdesignicons.css';

.mat-toolbar.mat-primary{
  background: #ffffff;
}

.mat-drawer-content{
  width: 100%;
  overflow: unset !important;
}

.mat-toolbar.mat-primary span{
  color: black;
}

.content{
  width: 100%;
}

.section-content{
  overflow: auto;
  padding: 5% 10% 0 10%;
}

.mat-tab-body{
  text-align: center;
}

body{
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
}



footer{
  width: 100%;
}
